@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #32b6d4;
  --secondary: #011a2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
p {
  /* font family roboto */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn {
  background-color: white;
  border: none;
}
